@font-face {
  font-family: "PTSerif";
  src: url("./assets/fonts/PT_Serif/PTSerif-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PTSerifBold";
  src: url("./assets/fonts/PT_Serif/PTSerif-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
